header{
    margin-top: 3%;
    margin-bottom: 5%;
}

body {
    font-family: raleway;
    font-size: 16px;
    font-weight: normal;
    width: 100;
    /*box-sizing: border-box;*/
}

main {
    margin: 0px;
    padding-left: 5%;
    padding-right:5%;
}

@font-face {
  font-family: Raleway;
  src: url("/fonts/static/Raleway-Regular.ttf") format("ttf");
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("ttf");
}

* {
    margin: 0;
}


a {
    text-decoration:none;
}

ul {
    list-style-type:none;
}


header > nav > img {
    width: 10%;
}

header > nav {
    position:relative;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

header > nav > ul {
    padding:0;
    margin: 0;
    display: flex;
    justify-content: center;
    transform: translateX(-90px);
    width: 40%;
    align-self: center;
}

header > nav > ul > li {
    width: 40%;
    text-align: center;
}

.nav-border {
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-border:hover {
    border-top: 2px #0065FC solid;
}

.nav-border > a {
    color: black;
}

.nav-border:hover > a {
    color: #0065FC;
}

.inscription {
    color: #0065FC;
    font-weight: bold;
    position: absolute;
    padding-top: 30px;
    right: 20px;
}

.inscription:hover {
    color: #0099CC;
    border-bottom: 2px #0065FC solid;
    padding-bottom: 4px;
}

#sous-titre > p {
    font-size: 14px;
    line-height: 2px;
}


#head {
    margin: 0;
    width: 100%;
    height: 300px;
}

#site-search {
    height: 100%;
    width:20%;
    border: 1px solid #F2F2F2;
    margin:0;
    padding-left: 1%;
    font-family: raleway;
    font-size: 16px;
    font-weight: bold;
}


form {
    width: 100%;
    height:15%;
    margin:0;
    display: flex;
    justify-items: center;
}

form > i {
    display: flex !important;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    width:3%;
    padding-top: 13px;
}

form > button {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    border-style: none;
    height:100%;
    width:20%;
    margin:0;
    cursor:pointer;
}

.btn-s:hover {
    font-weight: bolder;
}

.btn-i {
    display: none;
}

#filtres-nav {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    align-items: baseline;
}

.filtres-sections {
    width:100%;
    display: flex;
    flex-flow: row wrap;
}
    

.filtre {
    width: fit-content;
    width: -moz-fit-content;
    height: 37px;
    border: 1px solid gainsboro;
    border-radius: 30px / 30px;
    display: flex;
    align-items: center;
    margin-left: 3%;
    padding-right: 2%;
    margin-bottom: 10px;
    transition: background-size 1s 0s;
    background: linear-gradient(to right, #0065FC,#0065FC);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: color 1s 0s;
    color-adjust: 0 100%;
}

.filtre:hover {
    background-size: 100% 100%;
    color:#F2F2F2;
    cursor:pointer;
    /*color: #F2F2F2;*/
}

.filtre i {
    background-color: aliceblue;
    color: #0065FC;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 30px / 30px; 
    position: relative;
    left: -4px;
}

.filtre > span {
    padding-left: 8px;
    font-weight: bold;
    padding-right: 10px;
}

#info {
    display: flex;
    align-items: baseline;
}

#info i {
    border: 1px solid gainsboro;
    color: #0065FC;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px / 30px; 
}

#info > p {
    padding-left: 2%; 
}

#sections {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    justify-items: center;
    line-height: 1.2em;
    padding-top:2vw;
    
}

#most-popular {
    width: 28%;
    /*height: 600px;*/
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 2%;
    margin-right: auto;
    justify-items: center;
}

#most-popular > h3,i {
    display: inline;
    padding-bottom: 2%;
}

.popular {
    background-color: white;
    box-shadow: 5px 5px 5px #d1d1d1;
    border-radius: 20px;
    height: 150px;
    padding: 2%; 
    margin-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
}

.popular:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.popular-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 5%;
    margin: 0;
}

.popular-content {
    padding-left: 10px;
}

.popular-content > h4 {
    width: 90%;
}

.notes {
    display: flex;
    flex-direction: row nowrap;
    align-items: flex-end;
}

.popular > p {
    line-height: 1.4em;
}

.popular > img  {
    width:8vw;
    border-radius: 20px 0 0 20px;
    height:150px;
    object-fit: cover;
}

.popular .fa-star {
    color: #0065FC;
    margin: 0;
    padding: .1em;
    margin-top: 3vw;
}

.popular .fa-star:last-child {
    color: #F2F2F2;
}

.popular:first-child .fa-star:last-child {
    color: #0065FC;
}

#hebergements > h3 {
    padding-bottom: 2%;
}

#hebergements {
    width: 68%;
    /*height: 600px;*/
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 3%;
    margin-right: 2%;
}

#hebergements-columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }


#hebergements-columns > article {
    display: flex;
    flex-direction: column;
    flex: 1 25%;
    background-color: white !important;
    box-shadow: 5px 5px 5px #d1d1d1;
    width: 85vw;
}

#more {
    font-weight: bold;
    margin-top: 15px;
}

.marseille {
    display: flex;
    flex-direction: column;
    background-color: white !important;
    width: 30%;
    height:auto;
    border-radius: 20px;
    padding: 1%;
    margin: 10px 20px 10px 0px;
}

.marseille:hover {
    transform: scale(1.1);
	/*box-shadow: 0 0 65px #0065FC inset, 0 0 20px #0065FC inset, 0 0 15px #0065FC;*/
    cursor: pointer;
}

.marseille > h5,p {
    line-height: 1.6em;
}

.marseille  img  {
    width:100%;
    border-radius: 20px 20px 0 0;
    height:150px;
    object-fit: cover;
}


.marseille > a {
    color: black;
    }


.marseille .fa-star {
    padding: .1em;
}

.full-color {
    color: #0065FC;
}

.no-color {
    color: #F2F2F2;
}

.marseille:first-child .fa-star:last-child {
    color: #F2F2F2;
}     

#marseille-activites {
    display: flex;
    flex-direction: column;
    /*flex-flow: row wrap;*/
    height: auto;
    width: 100%;
    border-radius: 20px;
    padding-top: 4%;
}

.act-marseille {
    width:100%;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 5px 5px 5px #F2F2F2;
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.act-marseille:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.act-marseille > h5 {
    padding: 5%;
}

.act-marseille > img  {
    width: 100%;
    height: 90%  ;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    object-fit: cover;
}

.row-marseille {
    width: 100%;
    height: 540px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-bottom: 5%;
}

.row-marseille > article:hover {
    transform: scale(1.1);
    cursor:pointer;
}

.column-marseille-first {
    width: 100%;
    height: 100%;
    margin-right: 2%;
}

.column-marseille-first > article:first-child {
    width:100%;
    height: 50%;
    margin-bottom: 15%;
}

.column-marseille-first > article:last-child {
    width:100%;
    height: 40%;
}

.column-marseille-first > article > img {
    height: 80%;
}

.column-marseille-second {
    width: 100%;
    height: 100%;
}

.column-marseille-second > article:first-child {
    width:100%;
    height: 40%;
    margin-bottom: 15%;
}

.column-marseille-second > article:last-child {
    width:100%;
    height: 50%;
}

.column-marseille-second > article > img {
    height: 80%;
}

footer {
    background-color: #F2F2F2;
    height:160px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-left: 2%;
}

footer a {
    color: black;
    font-style: normal;
    font-size: 14px;
}

.footer-content {
    width:30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 1.8em;
}

.footer-content > nav > ul {
    padding-left: 0px;
}

.footer-content > h4 {
    padding-bottom: 5%;
}

@media all and (max-width: 2150px) {

    .popular:last-child > img {
        width: 8vw;
    }
}

@media all and (max-width: 1960px) {

    .popular:last-child > img {
        width: 8.5vw;
    }
}

@media all and (max-width: 1960px) {

    .popular:last-child > img {
        width: 9vw;
    }
}

@media all and (max-width: 1772px) {

    .popular:last-child > img {
        width: 10vw;
    }

    .popular .fa-star {
        margin-top: 2.5vw;
    }
}

@media all and (max-width: 1736px) {

    .popular .fa-star {
        margin-top: 2vw;
    }
}

@media all and (max-width: 1636px) {

    .inscription {
        margin-top: -5px;
    }

    .popular .fa-star {
            margin-top: 1.5vw;
        }
}


@media all and (max-width: 1528px) {

    .inscription {
        margin-top: -10px;
    }

    .popular .fa-star {
            margin-top: 0vw;
        }
}

@media all and (max-width: 1236px) {

    .inscription {
        margin-top: -15px;
    }

/* TABLETTE */

@media all and (max-width: 1105px) {
    
    /*Recherche*/
            form > i {
                height:25%;
                width:4.5%;
                padding-top: 1.5%;
        }
    
            #site-search {
                width:40%;
        }
            form button {
                width:15%;
    }
    
    /*Filtres*/
        .filtres-sections {
            width:80%;
        }

    /* Activités*/ 
        .row-marseille {
            width: 102%;
            height: 500px;
            margin-top: 2%;
            margin-bottom: 5%;
            padding-left: 2vw;
        }


        .column-marseille > article:first-child {
            width:100%;
            height: 53%;
        }
    
}

@media all and (max-width: 1092px) {
 
     /* MAIN */
        main {
            padding-left: 3%;
            padding-right:6%;
        }
    
    /*Menu
        .inscription {
            padding-top: 10px;
        }*/
    
    /*Recherche*/
        form > i {
            height:auto;
            width:5%;
        }

        form > button {
            width:15%;
        }
    
   /*Filtres*/
        .filtres-sections {
            width:100%;
        }
    
    /* Sections*/
        #sections {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            justify-items: center;
            line-height: 1.2em;
            margin-top: 2%;
    
        }
  
    /* Section POPULAIRES*/    
        #most-popular {
            width: 100%;
            border-radius: 20px;
            background-color: #F2F2F2;
            padding: 2%;
            margin-bottom: 3%;
            margin-right: auto;
            justify-items: center;
        }
    
        .popular-title {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 2%;
            margin: 0;
        }
    
        .popular {
            padding: 1%; 
            margin-bottom: 1%;
        }
    
        .popular > img {
            width:30vw;
        }

        .popular:last-child > img {
            width: 30vw;
        }

        .popular-content > .fa-star {
            padding: 1%;
            margin-top: 4%;
        }

        .popular .fa-star {
            margin-top: 6vw;
        }

    /* Section HEBERGEMENTS*/ 
        #hebergements {
            width: 98%;
        }
    
    /* Activités*/ 
        .row-marseille {
            width: 100%;
            height: 400px;
            margin-top: 2%;
            margin-bottom: 5%;
        }


        .column-marseille > article:last-child {
            width:100%;
            height: 40%;
        }
}

@media all and (max-width: 826px) {
 
    /* MAIN */
        main {
            padding-left: 3%;
            padding-right:6%;
        }

    /*HEADER*/

        header > nav {
            height:50px;
        }

        header > nav > ul {
            padding-top: 4vw;
            width: 50%;
        }
        
        header > nav > ul > li {
            width: 40%;
            text-align: center;
        }
        
        header > nav > ul > li > a {
            color: black;
        }
        
        header > nav > ul > li > a:hover {
            padding-top: 40px;
        }

        .inscription {
            padding-top: 45px;
        }
    
    /*Recherche*/
          form > i {
            height:36%;
            width:7%;
            padding-top: 2%;
        }
    
            #site-search {
                width:50%;
        }
            form button {
                width:20%;
    }
    
   /*Filtres*/
        .filtres-sections {
            width:100%;
        }
    
        .filtres {
            padding-top: 4%;
            padding-bottom: 2%;
            display: flex;
            align-items: baseline;
}
    
    /* Sections*/
        #sections {
            margin-top: 4%;
        }
        
        #hebergements {
            margin-left: 0vw;
        }

        #hebergements > h3 {
            padding-top: 2%;
        }

        .popular .fa-star {
            margin-top:8vw;
        }

        .popular:hover {
            transform: unset;
        }

        .marseille:hover {
            transform: unset;
        }
    
   /* Activités*/ 

        .row-marseille {
            width: 100%;
            height: 350px;
            margin-top: 3%;
            margin-bottom: 5%;
        }

        #marseille-activites > h3 {
            margin-left: 2vw;
        }

        .column-marseille > article:last-child {
            width:100%;
            height: 42%;
        }
        
        #marseille-activites {
            width:90vw;
            margin-left: 0vw;
        }

        .act-marseille:hover {
            transform: unset;
        }

        .row-marseille > article:hover {
            transform: unset;
        }

    /* Footer */

        footer {
            padding-bottom: 10%;
            height:400px;
        }

        .footer-content {
            width: 100vw;
            padding-left: 5%;
        }

        .footer-content > h4 {
            padding-top: 4%;
            padding-bottom: 1%;
        }

    }
    
@media all and (max-width: 748px) {
 
    /* MAIN */
        main {
            padding-left: 3%;
            padding-right:6%;
        }
    
    /*Header*/

        header > nav > img {
            width:15%;
    }

    /*Recherche*/
          form > i {
            height:40%;
        }
    
   /* Activités*/ 

       .marseille-activites {
            margin-left: 2%;
            margin-right: 4%;
        }

        .row-marseille {
            margin-top: 3%;
        }
}
    
    
@media all and (max-width: 703px) {
 
    /* MAIN */
        main {
            padding-left: 3%;
            padding-right:6%;
        }
    
    /*Header*/

        #head {
            margin-top: 10vw;
            margin-bottom: 5vw;
        }

        .inscription {
            padding-top: 40px;
        }

        #filtres-nav {
            margin-top: 3vw;
        }

    /*Recherche*/
          form > i {
            height:45%;
        }
    


    /* Activités*/ 
        .row-marseille {
            height: 300px;
            margin-top: 5%;
            margin-bottom: 5%;
        }

        .column-marseille > article:last-child {
            height: 42%;
        }

        .popular .fa-star {
            margin-top:9vw;
        }
}
    
    
@media all and (max-width: 600px) {
 
    /* MAIN */
        main {
            padding-left: unset !important;
            padding-right: unset !important;
        }

    /* Header */   

        .nav-border {
            color: black;
            height: unset;
            display: unset;
        }
        
        .nav-border:hover {
            border-top: unset;
        }
        
        .nav-border:hover > a {
            color: #0065FC;
        }
    
        header > nav {
            height:150px;
        }

        header > nav > img {
            width: 20%;
            height:auto;
            padding-left: 20px;
        }

        .inscription {
            top: 0px;
            right: 40px;
        }
    
        .inscription:hover {
            color: #0065FC;
            border-bottom: unset;
        }

        header > nav {
            width: 100%;
            display: block;
        }

        header > nav > ul {
           width: 100vw !important;
            border-bottom: 3px #F2F2F2 solid;
            padding-bottom: 2%;
            transform: unset;
            display: flex;
        }

        header > nav > ul > li:hover {
            border-bottom: 3px #0065FC solid;
            /*padding-bottom: 4%;*/
        }

        header > nav > ul > li {
            width: 50%;
            text-align: center;
            padding: 2%;
            display: inline-block;
        }

        #head {
            margin: 5vw;
            width: 90%;
        }
    
    /*Recherche*/
          form > i {
            height:50%;
            width:15%;
            padding-top: 2vw;
        }
    
            #site-search {
                width:100%;
                margin-right:-10%;
        }
            form button {
                width:13%;
                border-radius: 15px 15px 15px 15px;
                /*background: transparent url(search-solid.svg) no-repeat 0px 0px / 16px 16px;*/
        }
    
            .btn-i {
                display: block;
        }
            
            .btn-s {
                display: none;
        }
            
            #filtres-nav {
                padding-top: 7vw;
        }

    /* Sections*/
            #sections {
                margin-top: 15%;
            }

    /* Section POPULAIRES */
            #most-popular {
                width: 100vw;
                border-radius: 0px;
                background-color: #F2F2F2;
                margin-left: unset;
                padding-left: unset;
                padding-right: unset;
            }
    
            .popular {
               width: 85%;
                margin: 10px auto;
            }
    
            .popular-title {
                padding: 5vw;
                width: 90%;
            }

    
    /* Section HEBERGEMENTS */
            
            #hebergements {
                width: 85vw;
                height: 100%;
                background-color: white;
                margin-left: 3vw;
            }
    
             #hebergements-columns {
                 width: 100%;
                 display: flex;
                 flex-direction: column;
            }
    
            .marseille {
                width: 100%;
                height:auto;
                filter: drop-shadow(0 0 0.45rem #F2F2F2);
                padding: 1.5%;
                margin-bottom: 5%;
            }
    
            .marseille > p {
                font-size: 14px;
            }
    
            .marseille > h5 {
                font-size: 16px;
            }
    
            .marseille img  {
                height:120px;
                background-position: center bottom;
            }
    
    
    /* Section ACTIVTES */
    
            #marseille-activites {
                margin-left: 3vw;
                min-height: 1400px;
            }
    
            .act-marseille {
                margin-bottom: 5%;
                height: 230px;
                width: 85vw;
            }
    
            .act-marseille > img {
                height: 80%;
            }

            .row-marseille {
                width: 100%;
                height: 1500px;
                flex-direction: column;
                margin-top: 10%;
                margin-bottom: 5%;
                margin-left: 2%;
            }
    
           .column-marseille-first > article:first-child {
               width: 85vw;
               height: 230px;
               margin-top: 2%;
               margin-bottom: 5%;
            }
    
           .column-marseille-first > article:last-child {
               width: 85vw;
               height: 230px;
            }    
    
            .column-marseille-second > article:first-child {
                width: 85vw;
                height: 230px;
                margin-bottom: 5%;
             }
     
            .column-marseille-second > article:last-child {
                width: 85vw;
                height: 230px;
             }   

     /* FOOTER */

                .footer-content {
                    width:90vw;
                    padding-left: 5%;
                }

                .footer-content > nav > ul {
                    padding-left: 0px;
                }

                .footer-content > h4 {
                    padding-top: 7%;
                    padding-bottom: 2%;
                }

    }

    @media all and (max-width: 568px) {

        /* Sections*/
       #sections {
            margin-top: 30%;
        }

        .filtres-sections {
            flex-flow: column wrap;
        }

        .popular .fa-star {
            margin-top:10vw;
        }
    }

    @media all and (max-width: 547px) {

            /* Sections*/
        #sections {
            margin-top: 35%;
        }
    }

    @media all and (max-width: 495px) {

        /*Recherche*/
        form > i {
            padding-top: 3vw;
        }

        /* Sections*/
        #sections {
            width:90vw;
            margin-top: 40%;
        }

        .popular .fa-star {
            margin-top:11vw;
        }

    }

    @media all and (max-width: 400px) {

        /*Recherche*/
              form > i {
                padding-top: 4vw;
            }
 
        /*Header*/
            header > nav {
                height:120px;
            }

            header > nav > ul {
                padding-top: 6vw;
            }

        /*Section Populaires*/

            #sections {
                margin-top: 50%;
            }

            .popular > img {
                width:30vw;
            }

            .popular .fa-star {
                margin-top:16vw;
            }

        }

        @media all and (max-width: 328px) {


        /*Recherche*/
            form > i {
                padding-top: 5vw;
           }

         /*Section Populaires*/

            #sections {
              margin-top: 60%;
            }

        }
    }