header{
    margin-top: 3%;
    margin-bottom: 5%;
}

body {
    font-family: raleway;
    font-size: 16px;
    font-weight: normal;
    /*box-sizing: border-box;*/
}

main {
    margin: 0px;
    padding-left: 5%;
    padding-right:5%;
}

@font-face {
  font-family: Raleway;
  src: local("Raleway"),
       local("Raleway-VariableFont_wght"),
       url(Raleway-VariableFont_wght.ttf);
  font-weight: normal;
}

* {
    margin: 0;
    /*padding-left: 10px;
    padding-right:10px;
    box-sizing: border-box;*/
}

a {
    text-decoration:none;
}

header > nav > img {
    width: 10%;
    /*margin-left: 40px;*/
}

header > nav {
    /*display: flex;
    justify-content: space-between;
    margin: 2relative20px 40px;*/
    position:relative;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

header > nav > ul {
    padding:0;
    margin: 0;
    display: flex;
    justify-content: center;
    transform: translateX(-90px);
    width: 30%;
    align-self: center;
}

header > nav > ul > li {
    width: 60%;
    text-align: center;
    padding: 2%;
}

header nav > a {
    position: absolute;
    align-self: center;
    right: 10px;
}


ul {
    list-style-type:none;
}

/*header > nav > ul > li > a, header > nav > a {
    color: #0065FC;
}*/

header > nav > ul > li > a:hover {
    border-top: 2px #0065FC solid;
    /*color: #0099CC;*/
    color: #0065FC;
}

header > nav > a:hover {
    border-top: 2px #0065FC solid;
    color: #0099CC;
    padding-top: 1%;
}

header > nav > a:last-child {
    color: #0065FC;
}


#sous-titre > p {
    font-size: 14px;
    line-height: 2px;
}


#head {
    /*display: flex;
    justify-content: space-evenly;*/
    /*padding: 2%;*/
    margin: 0;
    width: 100%;
    height: 300px;
}

#site-search {
    height: 100%;
    width:20%;
    border: 1px solid gainsboro;
    margin:0;
    padding-left: 1%;
    font-family: raleway;
    font-size: 16px;
    font-weight: bold;
}


form {
    width: 100%;
    height:15%;
    margin:0;
    display: flex;
    justify-items: center;
}

form i {
    display: flex !important;
    justify-content: center;
    background-color: gainsboro;
    border-radius: 10px 0px 0px 10px;
    width:3%;
    padding-top: 13px;
}

form button {
    background-color: #0065FC;
    color: white;
    /*border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;*/
    border-radius: 0px 10px 10px 0px;
    border-style: none;
    height:100%;
    width:10%;
    margin:0;
}


#filtres {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    align-items: baseline;
}

.filtres-sections {
    width:100%;
    display: flex;
    flex-flow: row wrap;
}

@media all and (max-width: 568px) {
    .filtres-sections {
        flex-flow: column wrap;
    }
    
    
}

#filtre {
    width: fit-content;
    width: -moz-fit-content;
    height: 37px;
    border: 1px solid gainsboro;
    border-radius: 30px / 30px;
    display: flex;
    align-items: center;
    margin-left: 3%;
    padding-right: 2%;
    margin-bottom: 10px
}

#filtre i {
    background-color: aliceblue;
    color: #0065FC;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    /*justify-content: center;
    border: 2px solid #000;
    -webkit-border-radius: 12px / 24px;
    -moz-border-radius: 12px / 24px; */
    border-radius: 30px / 30px; 
    position: relative;
    left: -4px;
}

#filtre > span {
   padding-left: 8px;
    font-weight: bold;
    padding-right: 10px;
}

#info {
    display: flex;
    align-items: baseline;
}

#info i {
    border: 1px solid gainsboro;
    color: #0065FC;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid #000;
    -webkit-border-radius: 12px / 24px;
    -moz-border-radius: 12px / 24px; */
    border-radius: 30px / 30px; 
}
#info > p {
    padding-left: 2%; 
}

#sections {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    justify-items: center;
    line-height: 1.2em;
    
}

#most-popular {
    width: 28%;
    /*height: 600px;*/
    border-radius: 20px;
    background-color: gainsboro;
    padding: 2%;
    margin-right: auto;
    justify-items: center;
}

#most-popular > h3,i {
    display: inline;
    padding-bottom: 2%;
}

.popular-content {
    padding-left: 10px;
}

.popular {
    background-color: white;
    border-radius: 20px;
    height: 150px;
    padding: 2%; 
    margin-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
}

.popular-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-bottom: 5%;
    margin: 0;
}

.popular > p {
    line-height: 1.4em;
}

.popular > img  {
    width: 40%;
    border-radius: 20px 0 0 20px;
    height:150px;
    object-fit: cover;
}

.popular .fa-star {
    color: #0065FC;
    margin: 0;
    padding: .1em;
    margin-top: 4em;
}

.popular .fa-star:last-child {
    color: gainsboro;
    margin: 0;
    padding: .1em;
    margin-top: 4em;
}

section.hebergements > h3 {
    padding-bottom: 2%;
}

section.hebergements {
    width: 68%;
    /*height: 600px;*/
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: gainsboro;
    padding: 3%;
    margin-right: 2%;
    }

#hebergements-columns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 3;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));*/
    }
}

#hebergements-columns > article {
    display: flex;
    flex-direction: column;
    background-color: white !important;
    width: auto;
    border-radius: 10px;
}

#more {
    font-weight: bold;
}

.marseille {
    display: flex;
    flex-direction: column;
    background-color: white !important;
    width: 30%;
    height:auto;
    border-radius: 20px;
    padding: 1%;
    margin-bottom: 4%;
}

.marseille h5,p {
    line-height: 1.6em;
}

.marseille img  {
    border-radius: 20px 20px 0 0;
    height:150px;
    object-fit: cover;
}

.marseille .fa-star {
    color: #0065FC;
    padding: .1em;
}

#marseille-activites {
    display: flex;
    flex-direction: column;
    /*flex-flow: row wrap;*/
    height: auto;
    width: 100%;
    border-radius: 20px;
    padding-top: 4%;
}

.act-marseille {
    width:100%;
    height: 100%;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 10px 5px 5px gainsboro;
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.act-marseille > h5 {
    padding: 5%;
}

.act-marseille > img  {
    width: 100%;
    height: 90%  ;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    object-fit: cover;
}

.row-marseille {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-bottom: 5%;
}

.column-marseille {
    width: 100%;
    height: 100%;
    margin-right: 2%;
}

.column-marseille > article:first-child {
    width:100%;
    height: 50%;
    margin-bottom: 15%;
}

.column-marseille > article:last-child {
    width:100%;
    height: 40%;
}



/*.act-marseille1 img  {
    width: 90%;
    max-width: 350px;
    height: auto;
}

.act-marseille2 img  {
    width: 60%;
    max-width: 350px;
    height: auto;
}

.act-marseille3 img  {
    width: 90%;
    max-width: 350px;
    height: auto;
}

.act-marseille4 img  {
    width: 60%;
    max-width: 350px;
    height: auto;
}

.act-marseille4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.act-marseille3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.act-marseille2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.act-marseille1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}*/

footer {
    background-color: gainsboro;
    height:160px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2%;
}

footer a {
    color: black;
    font-style: normal;
    font-size: 14px;
}

.footer-content {
    width:30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 1.8em;
}

.footer-content > nav > ul {
    padding-left: 0px;
}

.footer-content > h4 {
    padding-bottom: 5%;
}

/*
#footerContent {
	display: flex;
	justify-content: space-around;

}

.footerColumn h3 {
	color: rgba(255, 255, 255, .6);
	margin-top: 30px;    
	font-weight: 400;
    font-size: 1.0em;
}

.footerColumn li, .footerColumn p {
	color: white;
}

.footerColumn li::marker, .footerColumn p::marker {
	color: white;
}
*/




/* TABLETTE */

@media all and (max-width: 1105px) {
    
    /*Recherche*/
          form > i {
            height:25%;
            width:4.5%;
            padding-top: 1.5%;
        }
    
            #site-search {
                width:40%;
        }
            form button {
                width:15%;
    }
    
    /*Filtres*/
        .filtres-sections {
            width:80%;
        }

    /* Activités*/ 
        .row-marseille {
            width: 102%;
            height: 500px;
            margin-top: 2%;
            margin-bottom: 5%;
        }


        .column-marseille > article:first-child {
            width:100%;
            height: 53%;
        }
    
}

@media all and (max-width: 1092px) {
 
     /* MAIN */
        main {
            padding-left: 3%;
            padding-right:6%;
        }
    
    /*Recherche*/
        form > i {
            height:auto;
            width:5%;
        }

        form > button {
            width:15%;
        }
    
   /*Filtres*/
        .filtres-sections {
            width:100%;
        }
    
    /* Sections*/
        #sections {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            justify-items: center;
            line-height: 1.2em;
            margin-top: 2%;
    
        }
  
    /* Section POPULAIRES*/    
        #most-popular {
            width: 100%;
            /*height: 600px;*/
            border-radius: 20px;
            background-color: gainsboro;
            padding: 2%;
            margin-bottom: 3%;
            margin-right: auto;
            justify-items: center;
        }
    
        .popular-title {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 2%;
            margin: 0;
        }
    
        .popular {
            padding: 1%; 
            margin-bottom: 1%;
        }
    
        .popular-content > .fa-star {
            padding: 1%;
            margin-top: 4%;
        }
    
    /* Section HEBERGEMENTS*/ 
        section.hebergements {
            width: 98%;
        }
    
    /* Activités*/ 
        .row-marseille {
            width: 100%;
            height: 400px;
            margin-top: 2%;
            margin-bottom: 5%;
        }


        .column-marseille > article:last-child {
            width:100%;
            height: 40%;
        }
}

@media all and (max-width: 826px) {
 
    /* MAIN */
        main {
            padding-left: 3%;
            padding-right:6%;
        }
    
    /*Recherche*/
          form > i {
            height:36%;
            width:7%;
            padding-top: 2%;
        }
    
            #site-search {
                width:50%;
        }
            form button {
                width:20%;
    }
    
   /*Filtres*/
        .filtres-sections {
            width:100%;
        }
    
        #filtres {
            padding-top: 4%;
            padding-bottom: 2%;
            display: flex;
            align-items: baseline;
}
    
    /* Sections*/
        #sections {
            margin-top: 4%;
    
        }
  
    
   /* Activités*/ 
        .row-marseille {
            width: 105%;
            height: 350px;
            margin-top: 2%;
            margin-bottom: 5%;
        }


        .column-marseille > article:last-child {
            width:100%;
            height: 42%;
        }
    
    
@media all and (max-width: 748px) {
 
    /* MAIN */
        main {
            padding-left: 3%;
            padding-right:6%;
        }
    
    /*Recherche*/
          form > i {
            height:40%;
        }
    
   /* Activités*/ 
        .row-marseille {
            width: 105%;
            margin-top: 3%;
        }
}
    
    
@media all and (max-width: 692px) {
 
    /* MAIN */
        main {
            padding-left: 3%;
            padding-right:6%;
        }
    
    /*Recherche*/
          form > i {
            height:45%;
        }
    
    /* Activités*/ 
        .row-marseille {
            width: 105%;
            height: 300px;
            margin-top: 5%;
            margin-bottom: 5%;
        }


        .column-marseille > article:last-child {
            height: 42%;
        }
}
    
    
@media all and (max-width: 375px) {
 
    /* MAIN */
        main {
            padding-left: 4%;
            padding-right:7%;
        }

    /* Header */   
        header > nav > img {
            width: 30%;
            height:50px;
        }
    
        header > nav > a:last-child {
            font-weight: bold;
            height: 10px;
            width: 40%;
            text-align: end;
            margin-top: -60px;
        }
    
        header > nav {
            position:relative;
            display: flex;
            align-self: center;
            justify-content: space-between;
        }

        header > nav > ul {
            padding:0;
            margin: 0;
            display: flex;
            justify-content: center;
            transform: translateX(-90px);
            width: 100%;
            align-self: center;
        }

        header > nav > ul > li {
            width: 60%;
            text-align: center;
            padding: 2%;
            margin-top: 100px;
        }
    
    /*Recherche*/
          form > i {
            height:55%;
            width:15%;
            padding-top: 4%;
        }
    
            #site-search {
                width:100%;
                margin-right:-3%;
        }
            form button {
                width:13%;
                border-radius: 15px 15px 15px 15px;
                /*ligne CSS icône CTA
                background: transparent url(icon32.png) no-repeat 0px 0px / 16px 16px;*/
    }
    
    
    /* Sections*/
            #sections {
                margin-top: 40%;
    
            }

    /* Section POPULAIRES */
            #most-popular {
                width: 100%;
                border-radius: 0px;
                background-color: gainsboro;
            }
    
    /* Section HEBERGEMENTS */
            section.hebergements {
                width: 100%;
                height: 100%;
                background-color: white;
            }

            section.hebergements > h3 {
                padding-top: 7%;
                padding-bottom: 6%;
            }
    
             #hebergements-columns {
                 width: 100%;
                 display: flex;
                 flex-direction: column;
            }
    
            .marseille {
                width: 100%;
                height:auto;
                /*box-shadow: 5px 3px 3px black;*/
                filter: drop-shadow(0 0 0.45rem gainsboro);
                padding: 1.5%;
                margin-bottom: 5%;
            }
    
            .marseille > p {
                font-size: 14px;
            }
    
            .marseille > h5 {
                font-size: 16px;
            }
    
            .marseille img  {
                height:120px;
                background-position: center bottom;
            }
    
    
    /* Section ACTIVTES */
    
            #marseille-activites {
                padding-top: 7%;
                margin-top: 170%;
                min-height: 1400px;
            }
    
            .act-marseille {
                margin-bottom: 7%;
            }
    
            .row-marseille {
                width: 100%;
                height: 600px;
                flex-direction: column;
                margin-top: 2%;
                margin-bottom: 5%;
            }
    
            /*.column-marseille {
                width: 100%;
                margin-right: 2%;
            }*/

    footer {
    height:auto;
    flex-direction: column;
}

.footer-content {
    width:100%;
    padding-left: 5%;
}

.footer-content > nav > ul {
    padding-left: 0px;
}

.footer-content > h4 {
    padding-top: 7%;
    padding-bottom: 2%;
}
    
    
    
    
    }