header{
    margin-top: 3%;
    margin-bottom: 5%;
}

body {
    font-family: raleway;
    font-size: 16px;
    font-weight: normal;
    width: 100;
    /*box-sizing: border-box;*/
}

main {
    margin: 0px;
    padding-left: 5%;
    padding-right:5%;
}

@font-face {
  font-family: Raleway;
  src: local("Raleway"),
       local("Raleway-VariableFont_wght"),
       url(Raleway-VariableFont_wght.ttf);
  font-weight: normal;
}

* {
    margin: 0;
}


a {
    text-decoration:none;
}

ul {
    list-style-type:none;
}


header > nav > img {
    width: 10%;
}

header > nav {
    position:relative;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

header > nav > ul {
    padding:0;
    margin: 0;
    display: flex;
    justify-content: center;
    transform: translateX(-90px);
    width: 30%;
    align-self: center;
}

header > nav > ul > li {
    width: 40%;
    text-align: center;
}

header > nav > ul > li > a {
    color: black;
}

header > nav > ul > li > a:hover {
    border-top: 2px #0065FC solid;
    padding-top: 60px;
    color: #0099CC;
}

header > nav > a:hover {
    border-top: 2px #0065FC solid;
    color: #0099CC;
}

.inscription {
    color: #0065FC;
    font-weight: bold;
    position: absolute;
    padding-top: 20px;
    right: 20px;
}

.inscription > a:hover {
    border-top: 2px #0065FC solid;
    padding-top: 60px;
}

#sous-titre > p {
    font-size: 14px;
    line-height: 2px;
}


#head {
    margin: 0;
    width: 100%;
    height: 300px;
}

#site-search {
    height: 100%;
    width:20%;
    border: 1px solid #F2F2F2;
    margin:0;
    padding-left: 1%;
    font-family: raleway;
    font-size: 16px;
    font-weight: bold;
}


form {
    width: 100%;
    height:15%;
    margin:0;
    display: flex;
    justify-items: center;
}

form > i {
    display: flex !important;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    width:3%;
    padding-top: 13px;
}

form button {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    border-style: none;
    height:100%;
    width:10%;
    margin:0;
    cursor:pointer;
}


.btn-i {
    display: none;
}

#filtres-nav {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    align-items: baseline;
}

.filtres-sections {
    width:100%;
    display: flex;
    flex-flow: row wrap;
}

@media all and (max-width: 568px) {
    .filtres-sections {
        flex-flow: column wrap;
    }
    
    
}

#filtre {
    width: fit-content;
    width: -moz-fit-content;
    height: 37px;
    border: 1px solid gainsboro;
    border-radius: 30px / 30px;
    display: flex;
    align-items: center;
    margin-left: 3%;
    padding-right: 2%;
    margin-bottom: 10px;
    transition: background-size 1s 0s;
    background: linear-gradient(to right, #0065FC,#0065FC);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: color 1s 0s;
    color-adjust: 0 100%;
}

#filtre:hover {
    background-size: 100% 100%;
    color:#F2F2F2;
    /*color: #F2F2F2;*/
}

#filtre i {
    background-color: aliceblue;
    color: #0065FC;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 30px / 30px; 
    position: relative;
    left: -4px;
}

#filtre > span {
    padding-left: 8px;
    font-weight: bold;
    padding-right: 10px;
}

#info {
    display: flex;
    align-items: baseline;
}

#info i {
    border: 1px solid gainsboro;
    color: #0065FC;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px / 30px; 
}

#info > p {
    padding-left: 2%; 
}

#sections {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    justify-items: center;
    line-height: 1.2em;
    
}

#most-popular {
    width: 28%;
    /*height: 600px;*/
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 2%;
    margin-right: auto;
    justify-items: center;
}

#most-popular > h3,i {
    display: inline;
    padding-bottom: 2%;
}

.popular {
    background-color: white;
    box-shadow: 5px 5px 5px #d1d1d1;
    border-radius: 20px;
    height: 150px;
    padding: 2%; 
    margin-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
}

.popular-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-bottom: 5%;
    margin: 0;
}

.popular-content {
    padding-left: 10px;
}

.popular-content > h4 {
    width: 90%;
}

.popular > p {
    line-height: 1.4em;
}

.popular > img  {
    width: 40%;
    border-radius: 20px 0 0 20px;
    height:150px;
    object-fit: cover;
}

.popular .fa-star {
    color: #0065FC;
    margin: 0;
    padding: .1em;
    margin-top: 60px;
}

.popular .fa-star:last-child {
    color: #F2F2F2;
}

.popular:first-child .fa-star:last-child {
    color: #0065FC;
}

section.hebergements > h3 {
    padding-bottom: 2%;
}

section.hebergements {
    width: 68%;
    /*height: 600px;*/
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 3%;
    margin-right: 2%;
}

#hebergements-columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }


#hebergements-columns > article {
    display: flex;
    flex-direction: column;
    flex: 1 30%;
    background-color: white !important;
    box-shadow: 5px 5px 5px #d1d1d1;
    width: auto;
}

#more {
    font-weight: bold;
    margin-top: 10px;
}

.marseille {
    display: flex;
    flex-direction: column;
    background-color: white !important;
    width: 30%;
    height:auto;
    border-radius: 20px;
    padding: 1%;
    margin: 10px 10px 10px 0px;
}

.marseille > h5,p {
    line-height: 1.6em;
}

.marseille  img  {
    width:100%;
    border-radius: 20px 20px 0 0;
    height:150px;
    object-fit: cover;
}


.marseille > a {
    color: black;
    }


.marseille .fa-star {
    padding: .1em;
}

.full-color {
    color: #0065FC;
}

.no-color {
    color: #F2F2F2;
}

.marseille:first-child .fa-star:last-child {
    color: #F2F2F2;
}     

#marseille-activites {
    display: flex;
    flex-direction: column;
    /*flex-flow: row wrap;*/
    height: auto;
    width: 100%;
    border-radius: 20px;
    padding-top: 4%;
}

.act-marseille {
    width:100%;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 5px 5px 5px #F2F2F2;
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.act-marseille > h5 {
    padding: 5%;
}

.act-marseille > img  {
    width: 100%;
    height: 90%  ;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    object-fit: cover;
}

/*.act-marseille-medium {
    width:100%;
    height: 50%;
}

.act-marseille-small {
    width:100%;
    height: 40%;
}*/

.row-marseille {
    width: 100%;
    height: 540px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-bottom: 5%;
}

.column-marseille-first {
    width: 100%;
    height: 100%;
    margin-right: 2%;
}

.column-marseille-first > article:first-child {
    width:100%;
    height: 50%;
    margin-bottom: 15%;
}

.column-marseille-first > article:last-child {
    width:100%;
    height: 40%;
}

.column-marseille-second {
    width: 100%;
    height: 100%;
}

.column-marseille-second > article:first-child {
    width:100%;
    height: 40%;
    margin-bottom: 15%;
}

.column-marseille-second > article:last-child {
    width:100%;
    height: 50%;
}

footer {
    background-color: #F2F2F2;
    height:160px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2%;
}

footer a {
    color: black;
    font-style: normal;
    font-size: 14px;
}

.footer-content {
    width:30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 1.8em;
}

.footer-content > nav > ul {
    padding-left: 0px;
}

.footer-content > h4 {
    padding-bottom: 5%;
}


/* TABLETTE */

@media all and (max-width: 1105px) {
    
    /*Recherche*/
          form > i {
            height:25%;
            width:4.5%;
            padding-top: 1.5%;
        }
    
            #site-search {
                width:40%;
        }
            form button {
                width:15%;
    }
    
    /*Filtres*/
        .filtres-sections {
            width:80%;
        }

    /* Activités*/ 
        .row-marseille {
            width: 102%;
            height: 500px;
            margin-top: 2%;
            margin-bottom: 5%;
        }


        .column-marseille > article:first-child {
            width:100%;
            height: 53%;
        }
    
}

@media all and (max-width: 1092px) {
 
     /* MAIN */
        main {
            padding-left: 3%;
            padding-right:6%;
        }
    
    /*Recherche*/
        form > i {
            height:auto;
            width:5%;
        }

        form > button {
            width:15%;
        }
    
   /*Filtres*/
        .filtres-sections {
            width:100%;
        }
    
    /* Sections*/
        #sections {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            justify-items: center;
            line-height: 1.2em;
            margin-top: 2%;
    
        }
  
    /* Section POPULAIRES*/    
        #most-popular {
            width: 100%;
            /*height: 600px;*/
            border-radius: 20px;
            background-color: #F2F2F2;
            padding: 2%;
            margin-bottom: 3%;
            margin-right: auto;
            justify-items: center;
        }
    
        .popular-title {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 2%;
            margin: 0;
        }
    
        .popular {
            padding: 1%; 
            margin-bottom: 1%;
        }
    
        .popular-content > .fa-star {
            padding: 1%;
            margin-top: 4%;
        }
    
    /* Section HEBERGEMENTS*/ 
        section.hebergements {
            width: 98%;
        }
    
    /* Activités*/ 
        .row-marseille {
            width: 100%;
            height: 400px;
            margin-top: 2%;
            margin-bottom: 5%;
        }


        .column-marseille > article:last-child {
            width:100%;
            height: 40%;
        }
}

@media all and (max-width: 826px) {
 
    /* MAIN */
        main {
            padding-left: 3%;
            padding-right:6%;
        }
    
    /*Recherche*/
          form > i {
            height:36%;
            width:7%;
            padding-top: 2%;
        }
    
            #site-search {
                width:50%;
        }
            form button {
                width:20%;
    }
    
   /*Filtres*/
        .filtres-sections {
            width:100%;
        }
    
        #filtres {
            padding-top: 4%;
            padding-bottom: 2%;
            display: flex;
            align-items: baseline;
}
    
    /* Sections*/
        #sections {
            margin-top: 4%;
    
        }
  
    
   /* Activités*/ 

        .row-marseille {
            width: 105%;
            height: 350px;
            margin-top: 2%;
            margin-bottom: 5%;
        }


        .column-marseille > article:last-child {
            width:100%;
            height: 42%;
        }
    
    
@media all and (max-width: 748px) {
 
    /* MAIN */
        main {
            padding-left: 3%;
            padding-right:6%;
        }
    
    /*Recherche*/
          form > i {
            height:40%;
        }
    
   /* Activités*/ 

       .marseille-activites {
            margin-left: 4%;
            margin-right: 4%;
        }

        .row-marseille {
            width: 105%;
            margin-top: 3%;
        }
}
    
    
@media all and (max-width: 692px) {
 
    /* MAIN */
        main {
            padding-left: 3%;
            padding-right:6%;
        }
    
    /*Recherche*/
          form > i {
            height:45%;
        }
    
    /* Activités*/ 
        .row-marseille {
            width: 105%;
            height: 300px;
            margin-top: 5%;
            margin-bottom: 5%;
        }


        .column-marseille > article:last-child {
            height: 42%;
        }
}
    
    
@media all and (max-width: 600px) {
 
    /* MAIN */
        main {
            padding-left: unset;
            padding-right: unset;
        }

    /* Header */   
        header > nav > img {
            width: 30%;
            height:40px;
        }
    
        header > nav > a:last-child {
            font-weight: bold;
            position: absolute;
            top: 20px;
            right: 15px;
        }
    
        header > nav {
            width: 100%;
            display: block;
        }

        header > nav > ul {
           width: 100vw !important;
            border-bottom: 3px gainsboro solid;
            padding-bottom: 2%;
            transform: unset;
            display: flex;
            margin-right: -6%;
            margin-left: -4%;
            margin-top: 10px;
                    }
    
           header > nav > ul > li > a:hover {
            border-bottom-color: #0099CC;
        }

        header > nav > ul > li {
            width: 50%;
            text-align: center;
            padding: 2%;
            display: inline-block;
        }
    
    /*Recherche*/
          form > i {
            height:55%;
            width:15%;
            padding-top: 4%;
        }
    
            #site-search {
                width:100%;
                margin-right:-3%;
        }
            form button {
                width:13%;
                border-radius: 15px 15px 15px 15px;
                /*background: transparent url(search-solid.svg) no-repeat 0px 0px / 16px 16px;*/
    }
    
    .btn-i {
        display: block;
    }
    
    .btn-s {
        display: none;
    }
    
    
    /* Sections*/
            #sections {
                margin-top: 40%;
    
            }

    /* Section POPULAIRES */
            #most-popular {
                width: 100vw;
                border-radius: 0px;
                background-color: #F2F2F2;
                margin-left: unset;
                padding-left: unset;
                padding-right: unset;
            }
    
            .popular {
               width: 85%;
                margin: 10px auto;
            }
    
            .popular-title {
                padding-top: 4%;
                padding-bottom: 5%;
                width: 90%;
            }
}
    
    /* Section HEBERGEMENTS */
            section.hebergements {
                width: 100%;
                height: 100%;
                background-color: white;
            }

            section.hebergements > h3 {
                padding-top: 7%;
                padding-bottom: 6%;
            }
    
             #hebergements-columns {
                 width: 100%;
                 display: flex;
                 flex-direction: column;
            }
    
            .marseille {
                width: 100%;
                height:auto;
                /*box-shadow: 5px 3px 3px black;*/
                filter: drop-shadow(0 0 0.45rem #F2F2F2);
                padding: 1.5%;
                margin-bottom: 5%;
            }
    
            .marseille > p {
                font-size: 14px;
            }
    
            .marseille > h5 {
                font-size: 16px;
            }
    
            .marseille img  {
                height:120px;
                background-position: center bottom;
            }
    
    
    /* Section ACTIVTES */
    
            #marseille-activites {
                margin-top: 7%;
                min-height: 1400px;
            }
    
            .act-marseille {
                margin-bottom: 7%;
                height: 230px;
            }
    
            .row-marseille {
                width: 100%;
                height: 1500px;
                flex-direction: column;
                margin-top: 10%;
                margin-bottom: 5%;
            }
    
            /*.column-marseille {
                width: 100%;
                margin-right: 2%;
            }*/
    
           .column-marseille > article:first-child {
               height: 230px;
               margin-bottom: 5%;
            }
    
           .column-marseille > article:last-child {
               height: 230px;
            }    
    
     /* FOOTER */

                footer {
                    height:auto;
                    flex-direction: column;
                }

                .footer-content {
                    width:100%;
                    padding-left: 5%;
                }

                .footer-content > nav > ul {
                    padding-left: 0px;
                }

                .footer-content > h4 {
                    padding-top: 7%;
                    padding-bottom: 2%;
                }
    
    
    
    
    }